@{
    ViewBag.Title = "Contact";
}

	<div class="footer">
		<div class="container">
			<div class="footer-info w3l-info">
				<div class="col-md-4 footer-grids footer-address">
					<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Contact Us:</h3>
					<ul>
						<li class="wow slideInLeft animated" data-wow-delay=".5s"><i class="glyphicon glyphicon-send"></i> GM Nest, Aswath Nagar <span> Thanisandra, Bangalore. </span></li>
						<li class="wow slideInLeft animated" data-wow-delay=".5s"><i class="glyphicon glyphicon-phone"></i> +91 8296760054 <span> +91 9035290827 </span></li>
						<li class="wow slideInLeft animated" data-wow-delay=".5s"><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:example@mail.com"> suruchi.bengali.foods@gmail.com</a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids">
                    <form>
					<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Send Query</h3>
                        <div class="subscribe">
                            <textarea id="query" cols="50" rows="8" ng-model="query"></textarea>
                            <input type="submit" value="Submit">
                        </div>
                    </form>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-grids">
					<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Newsletter</h3>
					<div class="subscribe wow slideInRight animated" data-wow-delay=".5s">
						<form>
							<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<input type="submit" value="Go">
						</form>
						<div class="clearfix"> </div>
					</div>
					<div class="social-icons wow slideInRight animated" data-wow-delay=".5s">
						<ul>
							<li><a href="#"> </a></li>
							<li><a href="#" class="fb"> </a></li>
							<li><a href="#" class="in"> </a></li>
							<li><a href="#" class="dott"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-copy wow slideInUp animated" data-wow-delay=".5s">
				<p>© 2016 Suruchi Foods. All rights reserved | Design by Santu Ghosh </p>
			</div>
		</div>	
	</div>	
	<!--//footer-->	