<!DOCTYPE html>
<html>
<head>
<title></title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tasty Food Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free Webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<script>
		 new WOW().init();
	</script>

</head>
<body>
	<!--banner-->
	
	<!--//banner--> 
	<!--gallery-->
	<div class="gallery">
		<div class="container">
			<h3 class="title">Gallery</h3> 
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a class="w3 wow zoomIn animated" data-wow-delay=".5s" href="~/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
						<img src="~/images/g1.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a class="wow zoomIn animated" data-wow-delay=".7s" href="~/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
						<img src="~/images/g2.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>
				<div class="col-md-6 gallery-grids gallery-two wthree">
					<a class="wow zoomIn animated" data-wow-delay=".9s" href="~/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also remaining essentially unchanged. ">
						<img src="~/images/g3.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grids gallery-grids-mdl">
					<a class="wow zoomIn animated" data-wow-delay=".5s" href="~/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
						<img src="~/images/g4.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grids gallery-grids-mdl">
					<a class="wow zoomIn animated" data-wow-delay=".7s" href="~/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
						<img src="~/images/g1.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>
				<div class="col-md-6 gallery-grids gallery-grids-mdl gallery-two">
					<a class="wow zoomIn animated" data-wow-delay=".9s" href="~/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, but also essentially unchanged. ">
						<img src="~/images/g5.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>	
				<div class="col-md-6 gallery-grids gallery-two w3agile-two">
					<a class="wow zoomIn animated" data-wow-delay=".5s" href="~/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen book It has survived not only five centuries, remaining essentially unchanged. ">
						<img src="~/images/g7.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>	
				<div class="col-md-3 gallery-grids">
					<a class="wow zoomIn animated" data-wow-delay=".7s" href="~/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
						<img src="~/images/g2.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a class="wow zoomIn animated" data-wow-delay=".9s" href="~/images/g9.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
						<img src="~/images/g9.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="b-wrapper">
							<h5>Our Specials</h5>
						</div>
					</a>
				</div>	
				<div class="clearfix"> </div>
				<script src="~/scripts/lightbox-plus-jquery.min.js"> </script>
			</div>	
		</div>	
	</div>	
	<!--//gallery--> 
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-info w3l-info">
				<div class="col-md-4 footer-grids footer-address">
					<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Contact Us:</h3>
					<ul>
						<li class="wow slideInLeft animated" data-wow-delay=".5s"><i class="glyphicon glyphicon-send"></i> GM Nest, Aswath Nagar <span> Thanisandra, Bangalore. </span></li>
						<li class="wow slideInLeft animated" data-wow-delay=".5s"><i class="glyphicon glyphicon-phone"></i> +91 8296760054 <span> +91 9035290827 </span></li>
						<li class="wow slideInLeft animated" data-wow-delay=".5s"><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:example@mail.com"> suruchi.bengali.foods@gmail.com</a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids">
					<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Popular Items</h3>
					<div class="footer-grd wow zoomIn animated" data-wow-delay=".5s">
						<a href="single.html">
							<img src="~/images/f1.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd wow zoomIn animated" data-wow-delay=".5s">
						<a href="single.html">
							<img src="~/images/f2.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd wow zoomIn animated" data-wow-delay=".5s">
						<a href="single.html">
							<img src="~/images/f3.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
					<div class="footer-grd wow zoomIn animated" data-wow-delay=".5s">
						<a href="single.html">
							<img src="~/images/f4.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd wow zoomIn animated" data-wow-delay=".5s">
						<a href="single.html">
							<img src="~/images/f5.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd wow zoomIn animated" data-wow-delay=".5s">
						<a href="single.html">
							<img src="~/images/f6.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 footer-grids">
					<h3 class="wow fadeInDown animated" data-wow-delay=".5s">Newsletter</h3>
					<div class="subscribe wow slideInRight animated" data-wow-delay=".5s">
						<form>
							<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
							<input type="submit" value="Go">
						</form>
						<div class="clearfix"> </div>
					</div>
					<div class="social-icons wow slideInRight animated" data-wow-delay=".5s">
						<ul>
							<li><a href="#"> </a></li>
							<li><a href="#" class="fb"> </a></li>
							<li><a href="#" class="in"> </a></li>
							<li><a href="#" class="dott"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-copy wow slideInUp animated" data-wow-delay=".5s">
				<p>© 2016 Suruchi Foods. All rights reserved | Design by Santu Ghosh </p>
			</div>
		</div>	
	</div>	
	<!--//footer-->	
	<!-- start-smooth-scrolling-->
	<script type="text/javascript" src="~/Scripts/move-top.js"></script>
	<script type="text/javascript" src="~/Scripts/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!--//end-smooth-scrolling-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!--scrolling js-->
	<script src="~/Scripts/jquery.nicescroll.js"></script>
	<script src="~/Scripts/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
</body>
</html>