@model BengaliFoodOnline.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<script>
    document.getElementById('phone').addEventListener('keydown', function (e) {
        var key = e.keyCode ? e.keyCode : e.which;

        if (!([8, 9, 13, 27, 46, 110, 190].indexOf(key) !== -1 ||
             (key == 65 && (e.ctrlKey || e.metaKey)) ||
             (key >= 35 && key <= 40) ||
             (key >= 48 && key <= 57 && !(e.shiftKey || e.altKey)) ||
             (key >= 96 && key <= 105)
           )) e.preventDefault();
    });

</script>
<script src="~/ViewModel/RegisterController.js"></script>

<div class="reservation" ng-controller="RegisterController">
    <div class="container">
        <h3 class="title w3agile wow fadeInDown animated" data-wow-delay=".5s">Register </h3>
        <div class="book-info">
            <div class="col-md-5 book-left wow fadeInLeft animated" data-wow-delay=".5s">
                </div>

                <div class="col-md-7 book-right agileinfo fadeInRight animated" data-wow-delay=".5s">
                    <form>

                        <label>Name</label>
                        <input class="wow fadeInDown animated" data-wow-delay=".9s" type="text" value="name" onfocus="this.value = '';" required="required" ng-model="custname" id="username">

                        <label>Email</label>
                        <input class="wow fadeInDown animated" data-wow-delay=".9s" type="text" value="email" onfocus="this.value = '';" required="required" ng-model="Email" id="Email">

                        <label>Phone :</label>
                        <input type="text" class="wow fadeInDown animated" ng-model="phone" required="required" id="phone">

                        <label>Address :</label>
                        <input type="text" class="wow fadeInDown animated" ng-model="address" required="required" id="address">

                        <label class="wow fadeInDown animated" data-wow-delay=".5s">Password :</label>
                        <input class="wow fadeInDown animated" data-wow-delay=".5s" type="password" id="password" ng-model="password">
                        <label>Repeat password :</label>
                        <input class="wow fadeInDown animated" data-wow-delay=".5s" type="password" id="repeatpass" ng-model="repeatpass">
 
                        <div class="form-right wow fadeInDown animated" data-wow-delay=".7s">
                            <label>&nbsp;</label>
                            <input type="submit"  value="Register" ng-click="registerUser()">
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

